.headerContainer {
  width: 100vw;
}

.discoutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 4rem;
  background-color: var(--black-light);
}

.discount {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--white);
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 4rem;
  background-color: var(--white);
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--black-light);
}
